h1
{
    margin-left: 10px;
}
.row
{
    margin-bottom: 20px;
}
.detail-product
{
}
.row .detail-product p
{
    text-align: justify;
    font-size:12px;
}
.row .detail-product h2 {
    font-size: 17px;
}
.aparecer{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: aparecer;
    animation-name: aparecer;
}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@media (max-width:768px)
{
    .container
    {
        text-align: center;
    }
    .detail-product
    {
        text-align: center;
        margin: auto;
    }
}
